<h1>Tasks List</h1>

<p *ngIf="!tasks"><em>Loading...</em></p>

<table class='table' *ngIf="tasks">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Priority</th>
      <th>Added</th>
      <th>Time to complete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.name }} </td>
      <td>{{ task.description }}</td>
      <td>{{ task.priority }}</td>
      <td>{{ task.creation_time * 1000 | date: 'yyyy-MM-dd HH:mm'}}</td>
      <td>{{ task.completion_time }}</td>
      <td>
        <button class="btn btn-sm btn-primary" (click)="completeTask(task.id)">Complete</button>

      </td>
    </tr>
  </tbody>
</table>
